# Python
__pycache__/
*.pyc

# Environment
.venv/
.env

# Logs
logs/
logs.txt

# Media
media/

# Testing
testing/

# Markdown
*.md

# ML Models
app/ML_models/*
!app/ML_models/Model_27_04_2026.engine

# Extra cache folders
app/routes/__pycache__/
app/models/__pycache__/
app/utils/__pycache__/
app/schemas/__pycache__/
database/__pycache__/
security/__pycache__/
routes/__pycache__/