.venv/
app/ML_models/*
!app/ML_models/Model_27_04_2026.engine
logs/*
__pycache__/
*.pyc
app/routes/__pycache__/*
app/models/__pycache__/*
app/utils/__pycache__/*
app/schemas/__pycache__/*
app/schemas/__pycache__/*
database/__pycache__/*
security/__pycache__/*
routes/__pycache__/*
logs/*
*.md
media/
logs/
logs.txt
testing
