.venv/
logs/*
__pycache__/*
app/routes/__pycache__/*
app/models/__pycache__/*
app/utils/__pycache__/*
app/schemas/__pycache__/*
app/schemas/__pycache__/*
logs/*

media/
logs/
logs.txt
__pycache__/
*.pyc